.container{
    display: flex;
     /* flex-direction: column; */
    flex-direction: row;
    /* align-items: flex-end; */
    /* align-items:flex-start; */
    background-color: blue;
}


.box{
    flex-grow: 15;
    margin: 10px;
    padding: 10px;
    white-space: 10px;
    background-color: red;
}