
.container{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 50% 50%;

    grid-template-areas: 
        "head head2 . side"
        "main main2 . side"
        "footer footer footer footer";

}

.box
{
    background-color: red;
}